In [1]:
OneHotEncoder cannot process string values directly.
If your nominal features are strings, then you need to first map them into integers. The following example when executed receives a ValueError because
OneHotEncoder could not convert string into float values: example Male
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)

ValueError: could not convert string to float: 'Male'

In [1]:
# pandas.get_dummies is kind of the opposite.
# By default, it only converts string columns into one-hot representation, unless columns are specified.

import pandas as pd
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'C': [1, 2, 3]})
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [2]:
s = pd.Series(list('abca'))
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [3]:
#Count Vectorizer: Convert a collection of text documents to a matrix of token counts

from sklearn.feature_extraction.text import CountVectorizer
corpus = ['This is the first document.','This document is the second document.','And this is the third one.','Is this the first document?']
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
X

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [4]:
df=pd.read_csv('/Users/chidam/Desktop/housing_prices_kaggle_train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
#'MasVnrType' has nan values.
df['MasVnrType'].unique()

array(['BrkFace', 'None', 'Stone', 'BrkCmn', nan], dtype=object)

In [6]:
# I am going to check whether the nan values have any corresponding non nan values in 'MasVnrArea'

df.loc[df['MasVnrType'] == Null, 'MasVnrArea']

#looks like we cannot equate to Null value like this

NameError: name 'Null' is not defined

In [7]:
#To return the rows with nan values in the column: 'MasVnrType'

df[df['MasVnrType'].isnull()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
234,235,60,RL,NaN,7851,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,216500
529,530,20,RL,NaN,32668,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Alloca,200624
650,651,60,FV,65.0,8125,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,205950
936,937,20,RL,67.0,10083,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,184900
973,974,20,FV,95.0,11639,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,New,Partial,182000
977,978,120,FV,35.0,4274,Pave,Pave,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,New,Partial,199900
1243,1244,20,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,New,Partial,465000
1278,1279,60,RL,75.0,9473,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,237000

In [8]:
#To return the rows with nan values in the column: 'MasVnrArea'

df[df['MasVnrArea'].isnull()]

# another method:df[np.isnan(df.MasVnrArea)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
234,235,60,RL,NaN,7851,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,216500
529,530,20,RL,NaN,32668,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Alloca,200624
650,651,60,FV,65.0,8125,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,205950
936,937,20,RL,67.0,10083,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,184900
973,974,20,FV,95.0,11639,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,New,Partial,182000
977,978,120,FV,35.0,4274,Pave,Pave,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,New,Partial,199900
1243,1244,20,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,New,Partial,465000
1278,1279,60,RL,75.0,9473,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,237000

In [9]:
df.loc[df['GarageType']=='2Types']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
129,130,20,RL,69.0,8973,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnWw,NaN,0,7,2006,WD,Abnorml,150000
137,138,90,RL,82.0,11070,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Family,171000
676,677,70,RM,60.0,9600,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,87000
913,914,90,RH,82.0,6270,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,145000
1184,1185,20,RL,50.0,35133,Grvl,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,186700
1190,1191,190,RL,NaN,32463,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Normal,168000

In [10]:
df['GarageType'].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [11]:
df.loc[df['GarageType']=='CarPort', 'GarageArea'].head()

17     516
52     516
341    294
510    288
557    570
Name: GarageArea, dtype: int64

In [12]:
df.loc[df['GarageType']=='2Types', 'GarageArea']

129      750
137      766
676      779
913      871
1184     995
1190    1356
Name: GarageArea, dtype: int64

In [13]:
df.loc[df['GarageType'].isnull()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
78,79,90,RL,72.0,10778,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,136500
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
89,90,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,123600
99,100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950
108,109,50,RM,85.0,8500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,115000
125,126,190,RM,60.0,6780,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,84500
127,128,45,RM,55.0,4388,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,87000
140,141,20,RL,70.0,10500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,ConLI,Normal,115000
148,149,20,RL,63.0,7500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,141000
155,156,50,RL,60.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,79000
163,164,45,RL,55.0,5500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,4,2007,WD,Normal,103200
165,166,190,RL,62.0,10106,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,127500
198,199,75,RM,92.0,5520,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2009,WD,Abnorml,104000
210,211,30,RL,67.0,5604,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,98000
241,242,30,RM,40.0,3880,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,110500
250,251,30,RL,55.0,5350,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,Shed,450,5,2010,WD,Normal,76500
287,288,20,RL,NaN,8125,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,88000
291,292,190,RL,55.0,5687,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,135900
307,308,50,RM,NaN,7920,Pave,Grvl,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2008,WD,Normal,89500
375,376,30,RL,NaN,10020,Pave,NaN,IR1,Low,AllPub,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,61000
386,387,50,RL,58.0,8410,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,AdjLand,81000
393,394,30,RL,NaN,7446,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,4,2006,WD,Abnorml,100000
431,432,50,RM,60.0,5586,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,9,2008,ConLD,Abnorml,79900
434,435,180,RM,21.0,1890,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,81000
441,442,90,RL,92.0,12108,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,118000
464,465,20,RL,60.0,8430,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,124000
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900
520,521,190,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,106250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,955,90,RL,35.0,9400,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,AdjLand,127500
960,961,20,RL,50.0,7207,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,116500
968,969,50,RM,50.0,5925,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2009,WD,Abnorml,37900
970,971,50,RL,60.0,10800,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2006,WD,Abnorml,135000
976,977,30,RL,51.0,5900,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,85500
1009,1010,50,RL,60.0,6000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,102000
1011,1012,90,RL,75.0,9825,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,100000
1030,1031,190,RH,NaN,7082,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,160000
1038,1039,160,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,97000
1096,1097,70,RM,60.0,6882,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Normal,127000
1123,1124,20,RL,50.0,9405,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,118000
1131,1132,20,RL,63.0,10712,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,9,2007,Oth,Abnorml,93500
1137,1138,50,RL,54.0,6342,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,94000
1143,1144,20,RL,NaN,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,80000
1173,1174,50,RL,138.0,18030,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,3,2007,WD,Normal,200500
1179,1180,20,RL,77.0,8335,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,93000
1218,1219,50,RM,52.0,6240,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,80500
1219,1220,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,91500
1234,1235,70,RH,55.0,8525,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,11,2008,WD,Abnorml,130000
1257,1258,30,RL,56.0,4060,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,99900
1283,1284,90,RL,94.0,9400,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,139000
1323,1324,30,RL,50.0,5330,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,12,2009,WD,Normal,82500
1325,1326,30,RM,40.0,3636,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2008,WD,Normal,55000
1326,1327,30,RH,70.0,4270,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,79000
1337,1338,30,RM,153.0,4118,Pave,Grvl,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,52500
1349,1350,70,RM,50.0,5250,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,122000
1407,1408,20,RL,NaN,8780,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,112000
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500

In [15]:
#df.loc[df['GarageType']==nan, 'GarageArea']

df.loc[df['GarageArea'].isnull()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

In [16]:
df['GarageArea'][155]

0

In [17]:
df['GarageType'].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [18]:
df.loc[df['GarageCond'].isnull()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
78,79,90,RL,72.0,10778,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,136500
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
89,90,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,123600
99,100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950
108,109,50,RM,85.0,8500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,115000
125,126,190,RM,60.0,6780,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,84500
127,128,45,RM,55.0,4388,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,87000
140,141,20,RL,70.0,10500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,ConLI,Normal,115000
148,149,20,RL,63.0,7500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,141000
155,156,50,RL,60.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,79000
163,164,45,RL,55.0,5500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,4,2007,WD,Normal,103200
165,166,190,RL,62.0,10106,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,127500
198,199,75,RM,92.0,5520,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2009,WD,Abnorml,104000
210,211,30,RL,67.0,5604,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,98000
241,242,30,RM,40.0,3880,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,110500
250,251,30,RL,55.0,5350,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,Shed,450,5,2010,WD,Normal,76500
287,288,20,RL,NaN,8125,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,88000
291,292,190,RL,55.0,5687,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,135900
307,308,50,RM,NaN,7920,Pave,Grvl,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2008,WD,Normal,89500
375,376,30,RL,NaN,10020,Pave,NaN,IR1,Low,AllPub,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,61000
386,387,50,RL,58.0,8410,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,AdjLand,81000
393,394,30,RL,NaN,7446,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,4,2006,WD,Abnorml,100000
431,432,50,RM,60.0,5586,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,9,2008,ConLD,Abnorml,79900
434,435,180,RM,21.0,1890,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,81000
441,442,90,RL,92.0,12108,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,118000
464,465,20,RL,60.0,8430,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,124000
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900
520,521,190,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,106250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,955,90,RL,35.0,9400,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,AdjLand,127500
960,961,20,RL,50.0,7207,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,116500
968,969,50,RM,50.0,5925,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2009,WD,Abnorml,37900
970,971,50,RL,60.0,10800,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2006,WD,Abnorml,135000
976,977,30,RL,51.0,5900,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,85500
1009,1010,50,RL,60.0,6000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,102000
1011,1012,90,RL,75.0,9825,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,100000
1030,1031,190,RH,NaN,7082,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,160000
1038,1039,160,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,97000
1096,1097,70,RM,60.0,6882,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Normal,127000
1123,1124,20,RL,50.0,9405,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,118000
1131,1132,20,RL,63.0,10712,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,9,2007,Oth,Abnorml,93500
1137,1138,50,RL,54.0,6342,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,94000
1143,1144,20,RL,NaN,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,80000
1173,1174,50,RL,138.0,18030,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,3,2007,WD,Normal,200500
1179,1180,20,RL,77.0,8335,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,93000
1218,1219,50,RM,52.0,6240,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,80500
1219,1220,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,91500
1234,1235,70,RH,55.0,8525,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,11,2008,WD,Abnorml,130000
1257,1258,30,RL,56.0,4060,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,99900
1283,1284,90,RL,94.0,9400,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,139000
1323,1324,30,RL,50.0,5330,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,12,2009,WD,Normal,82500
1325,1326,30,RM,40.0,3636,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2008,WD,Normal,55000
1326,1327,30,RH,70.0,4270,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,79000
1337,1338,30,RM,153.0,4118,Pave,Grvl,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,52500
1349,1350,70,RM,50.0,5250,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,122000
1407,1408,20,RL,NaN,8780,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,112000
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500

In [19]:
len(df.columns)#this is including the id column

81

In [20]:
df['Id'].unique()

array([   1,    2,    3, ..., 1458, 1459, 1460])

In [ ]:
#The very first question I should ask: What is my goal doing feature engineering, meaning do I have to pick
# the significant features, choose a model, and fit it to the data

# or select as many as possible and then remove the insignificant ones in the process because by that way you would not
# avoid including the significant features in the process

For now I have to select as many of them possible and eradicate one by one according to their significance during the process



#First let us figure out which features are important and which are not. Also which ones can be transformed to more meaningful features
The Id column is not required unless there are specific ones and also there will be need to associate each row with their appropriate id
SalePrice - the property sale price in dollars. This is the target variable that you are trying to predict.

MSSubClass: Identifies the type of dwelling involved in the sale like whether the house is a one story or two story etc.,


MSZoning: Identifies the general zoning classification of the sale like whether it is agricultural or industrial
    
LotFrontage: Linear feet of street connected to property

LotArea: Lot size in square feet

Street: Type of road access - I am not going to include this feature to begin with

#Alley: Type of alley access
    
# LotShape: General shape of property - I am not going to include this feature to begin with assuming the landcontour will be
# more insightful compared to the lot shape

LandContour: Flatness of the property
    
Utilities: Type of utilities available
        
LotConfig: Lot configuration
    
LandSlope: Slope of property (have to decide according to the type of the city Ames. say slope of a property might
be a significant feature to be considered in cities like SF or Monterey) - research what type of city Ames is?
    
Turns out Iowa in general is a state with extensive land - of smooth gradient. So Ames can also be expected to be the same
so severe slope of any property could be rather undesirable.
    
Neighborhood: Physical locations within Ames city limits
    
# Condition1: Proximity to main road or railroad

Condition2: Proximity to main road or railroad (if a second is present) otherwise is it the same as condition1? have to check
maybe I can plot this and see. if this is redundant then include this one and leave the condition1 out of the picture
    
BldgType: Type of dwelling (how is this different from MSSubClass? Although similar idea has been captured in MSSubClass and LotConfig, I feel
this feature tells a little bit more info especially through saying single house detached, for example) - research
    
HouseStyle: Style of dwelling (including info like 2nd level unfinished can tell a story)
    
OverallQual: Overall material and finish quality
    
OverallCond: Overall condition rating (these two qualities might look redundant but they both tell different stories:they are
significant in that people might like a good conditioned even if the house had few cosmetic issues like material quality/finishing touches
At the same time it might also be different in some cases because the expectations were move-in ready and not spend a dime)
    
YearBuilt: Original construction date - will be used in finding the age of the building
    
YearRemodAdd: Remodel date - find the difference between this date and the date the property was sold
    
RoofStyle: Type of roof
    
RoofMatl: Roof material
    
for both Exterior1st and Exterior2nd: My idea is to combine these columns and encode single material and two materials individually. So I will have only two categories overall
Exterior1st: Exterior covering on house
Exterior2nd: Exterior covering on house (if more than one material)

Categorize them both under: Wood, Brick, Vinyl, Other (check for how balanced the categories are)

From Iowa State University re Siding
Siding has many attractive qualities, but it simply is not a
good insulator. The Federal Trade Commission (FTC)
reports that no type of siding can insulate a home or
lower fuel bills. Even siding sold with thin panels called
“backer board” or “drop-in panels” will provide only a very
small energy-saving benefit. The FTC warns consumers
not to confuse these siding products with true insulation
products, such as fiberglass, cellulose, and rigid plastic
sheet siding.
    

After researching it turns out Masonry veneer type earned more than 95% of increase in returns for sellers    
MasVnrType: Masonry veneer type (how different is this from Exterior2nd?)    
MasVnrArea: Masonry veneer area in square feet
    
# ExterQual: Exterior material quality  - research
    
ExterCond: Present condition of the material on the exterior (i feel like this feature covers it all compared to ExterQual)
    
Foundation: Type of foundation
    
BsmtQual: Height of the basement(have to encode this feature differently as this one is different from the following one)
    
# BsmtCond: General condition of the basement
    
BsmtExposure: Walkout or garden level basement walls (it also includes NA for no basement and the same thing is captured by BsmtCond)
    
# BsmtFinType1: Quality of basement finished area
    
BsmtFinSF1: Type 1 finished square feet
    
# BsmtFinType2: Quality of second finished area (if present) - research
    
BsmtFinSF2: Type 2 finished square feet - (research BsmtFinSF1)
    

BsmtUnfSF: Unfinished square feet of basement area (should I encode this negatively to mention that it is unfinished?)
    
    
# TotalBsmtSF: Total square feet of basement area you can add type1, type2 and, unfinished and see if it equals the total square feet of basement but i feel like overall
#people really care about what the square footage of finished and unfinished basement areas
    
    
Re Finishing basementI believe that it matters, as customers tend to add the expense of finishing the basement when 
they are determining how much to offer for the home.
Although it is not supposed to be considered as living space, most people do.


Heating: Type of heating
    
HeatingQC: Heating quality and condition
    
CentralAir: Central air conditioning
    
Electrical: Electrical system
    
1stFlrSF: First Floor square feet
    
2ndFlrSF: Second floor square feet
    
LowQualFinSF: Low quality finished square feet (all floors) - check whether this provides a strong signal 
    
GrLivArea: Above grade (ground) living area square feet
    
BsmtFullBath: Basement full bathrooms
    
BsmtHalfBath: Basement half bathrooms
    
FullBath: Full bathrooms above grade
    
HalfBath: Half baths above grade
    
Bedroom: Number of bedrooms above basement level
    
Kitchen: Number of kitchens
    
KitchenQual: Kitchen quality
    
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms) - looks important 

Functional: Home functionality rating
    
# Fireplaces: Number of fireplaces - check
    
FireplaceQu: Fireplace quality - categorize into a few
    
GarageType: Garage location - check for signals - maybe categorize them under a few topics
    
# GarageYrBlt: Year garage was built 
    
# GarageFinish: Interior finish of the garage 

GarageCars: Size of garage in car capacity - check amongst this one and the next one - which feature is most important
GarageArea: Size of garage in square feet
    
# GarageQual: Garage quality

GarageCond: Garage condition

PavedDrive: Paved driveway

WoodDeckSF: Wood deck area in square feet 
OpenPorchSF: Open porch area in square feet 
EnclosedPorch: Enclosed porch area in square feet
3SsnPorch: Three season porch area in square feet 
ScreenPorch: Screen porch area in square feet

# PoolArea: Pool area in square feet

PoolQC: Pool quality

Fence: Fence quality - categorize into a few 

MiscFeature: Miscellaneous feature not covered in other categories - check for signal

MiscVal: $Value of miscellaneous feature - you can even decide to keep the features or categorize above certain threshold amount

MoSold: Month Sold:     
Why seasonality matters in housing market?  Once it gets nice where you live then list. Spring one review says. this gives
me an idea: instead of listing every month which amounts to 12 I could categorize under seasons: summer, winter, spring, fall
totally dependent on your location.    
    

YrSold: Year Sold - i think i can find age of the building-since the time it was constructed to the time it was sold
how can I include the remodeled date of the building? have to subtract the date it was remodeled from the date it was sold - in order to include the 
is it possible to encode difference within few years with a negative sign? 


SaleType: Type of sale


SaleCondition: Condition of sale
    
    

    
    

    
    
    
What else I know about Ames:
it is college town - IOWA state university
lots of students with plenty of restaurants but not many malls or clothing stores
not great night life in the city

One of the nicer things about Ames is that it has the amenities of a city but still has the feel of a small town.
lower cost of living

In [22]:
#have to check this column value
df['MSSubClass'].unique()

array([ 60,  20,  70,  50, 190,  45,  90, 120,  30,  85,  80, 160,  75,
       180,  40])

In [23]:
#It might be a good idea to pick the categorical features and convert them into numeric values first and then think about the numerical column values
df['MSZoning'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [24]:
#To get a count of every categorical value in the column
df['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [25]:
df.loc[df['MSZoning']=='FV','MSZoning'] = 'A'
df.loc[df['MSZoning']=='RH','MSZoning'] = 'A'
df.loc[df['MSZoning']=='C (all)','MSZoning'] = 'A'

In [26]:
df['MSZoning'].value_counts()

RL    1151
RM     218
A       91
Name: MSZoning, dtype: int64

In [27]:
df = pd.concat([df.drop('MSZoning', axis=1), pd.get_dummies(df['MSZoning'])], axis=1)

In [28]:
df['Street'].unique()

array(['Pave', 'Grvl'], dtype=object)

In [29]:
df['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [30]:
#For now I am not going to include Alley as a feature
df['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [31]:
df['LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [32]:
#Not going to include LandContour for now
df['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [33]:
df['LotConfig'].value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [34]:
#I have assigned 2 to 'AllPub' and 1 to 'NoSeWa' literally to mean that all public utilities weigh more than just the option of gas and electricity in NoSeWa 
df['Utilities'].value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [35]:
df.loc[df['Utilities']=='AllPub','Utilities'] = 2
df.loc[df['Utilities']=='NoSeWa','Utilities'] = 1

In [36]:
df['Utilities'].head()

0    2
1    2
2    2
3    2
4    2
Name: Utilities, dtype: object

In [37]:
#Have grouped the irregular lot shapes together and converted into numerics using pd.get_dummies
df.loc[df['LotShape']=='IR1','LotShape'] = 'I'
df.loc[df['LotShape']=='IR2','LotShape'] = 'I'
df.loc[df['LotShape']=='IR3','LotShape'] = 'I'

In [38]:
df = pd.concat([df.drop('LotShape', axis=1), pd.get_dummies(df['LotShape'])], axis=1)

In [39]:
#from category_encoders import TargetEncoder

In [40]:

df.loc[df['LotConfig']=='CulDSac','LotConfig'] = 'O'
df.loc[df['LotConfig']=='FR2','LotConfig'] = 'O'
df.loc[df['LotConfig']=='FR3','LotConfig'] = 'O'

In [41]:
#round((df['LotConfig'].value_counts())/(len(df['LotConfig'])), 2)

In [42]:
# Target encoding the feature: 'LotConfig'.Target encoding is the process of replacing a categorical value with the mean of the target variable.
# Looks like target encoding do not work for regression task.
# I have to research and figure out a way to tackle this. So for now I am going to assign value
df.loc[df['LotConfig']=='Inside', 'LotConfig']=1
df.loc[df['LotConfig']=='Corner', 'LotConfig']=2
df.loc[df['LotConfig']=='O', 'LotConfig']=0.5 #not sure whether it is ok to assign 0.5

In [43]:
df['LotConfig'].head()

0      1
1    0.5
2      1
3      2
4    0.5
Name: LotConfig, dtype: object

In [44]:
#Not going to include 'LandContour' feature for now
df=df.drop('LandContour', axis=1)

In [45]:
df['LandSlope'].unique()

array(['Gtl', 'Mod', 'Sev'], dtype=object)

In [46]:
df['LandSlope'].value_counts()

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [47]:
#Not going to consider 'LandSlope' at this time
df=df.drop('LandSlope', axis=1)

In [48]:
#Thinking to get the median value of property price in neighborhoods and assign a numerical value accordingly
df['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
Blmngtn     17
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [49]:
df.groupby('Neighborhood', as_index=False)['SalePrice'].median()

   Neighborhood  SalePrice
0       Blmngtn     191000
1       Blueste     137500
2        BrDale     106000
3       BrkSide     124300
4       ClearCr     200250
5       CollgCr     197200
6       Crawfor     200624
7       Edwards     121750
8       Gilbert     181000
9        IDOTRR     103000
10      MeadowV      88000
11      Mitchel     153500
12        NAmes     140000
13      NPkVill     146000
14       NWAmes     182900
15      NoRidge     301500
16      NridgHt     315000
17      OldTown     119000
18        SWISU     139500
19       Sawyer     135000
20      SawyerW     179900
21      Somerst     225500
22      StoneBr     278000
23       Timber     228475
24      Veenker     218000

In [50]:
#df.groupby('Neighborhood')['SalePrice'].median() >= 200000.0

In [41]:
#Trying to assign values to the neighborhoods based on the median sale price per each neighborhood
# The idea is to have three catgories:
# below 100000 (1.5)
# above and equal to 100000 but below 200000 (2.5)
# above and equal to 200000 (3.5)

#Assuming assigning values this way would not misrepresent the information


inp=df.groupby('Neighborhood')['SalePrice'].median()


# for neighbor_name, median_val in (df.groupby('Neighborhood')['SalePrice'].median()):
#     print(neighbor_name)
    

inp.index
# def assign_values_neighborhood(x):
#     if inp<100000:
#         inp.index=1.5
    
#     return inp

Index(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
       'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
       'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown', 'SWISU',
       'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber', 'Veenker'],
      dtype='object', name='Neighborhood')

In [51]:
#df.groupby('Neighborhood', as_index=False)['SalePrice'].median()

In [52]:
#If you instead of .sum() use .transform('sum') you get the grouped result returned per row instead. 
df['Neighborhood_grouped']=df.groupby('Neighborhood', as_index=False)['SalePrice'].transform('median')

In [53]:
df.loc[df['Neighborhood_grouped']<100000.0,'Neighborhood_grouped'] = 1.5

df.loc[df['Neighborhood_grouped']>200000.0,'Neighborhood_grouped'] = 3.5

In [54]:
df.loc[(df['Neighborhood_grouped']>=100000.0) & (df['Neighborhood_grouped']<200000.0),'Neighborhood_grouped'] = 2.5

In [55]:
df['Neighborhood_grouped'].head(25)

0     2.5
1     3.5
2     2.5
3     3.5
4     3.5
5     2.5
6     3.5
7     2.5
8     2.5
9     2.5
10    2.5
11    3.5
12    2.5
13    2.5
14    2.5
15    2.5
16    2.5
17    2.5
18    2.5
19    2.5
20    3.5
21    2.5
22    2.5
23    1.5
24    2.5
Name: Neighborhood_grouped, dtype: float64

In [56]:
df=df.drop('Alley', axis=1)

In [57]:
df = pd.concat([df.drop('Street', axis=1), pd.get_dummies(df['Street'])], axis=1)

In [58]:
df = df.drop('Neighborhood', axis=1)

In [59]:
#To assign 0 to null values
df['LotFrontage']=df['LotFrontage'].fillna(0)

In [60]:
df['Condition1'].unique()

array(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
       'RRNe'], dtype=object)

In [61]:
df['Condition2'].unique()

array(['Norm', 'Artery', 'RRNn', 'Feedr', 'PosN', 'PosA', 'RRAn', 'RRAe'],
      dtype=object)

In [62]:
#This step here is to transform both Condition1 and Condition2 into a more meaninful info by creating a new column which
#is formed through condition creating a new column: if a same value is present in both the columns then I have assigned 1 otherwise 2
def loop_two_columns(x, y):
    c=[]
    for n1, n2 in zip(x, y):
        if n1==n2:
            c.append(1)
        else:
            c.append(2)
    return pd.Series(c)

In [63]:
loop_two_columns(df['Condition1'], df['Condition2'])

0       1
1       2
2       1
3       1
4       1
5       1
6       1
7       2
8       2
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      2
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      2
       ..
1430    2
1431    1
1432    1
1433    1
1434    1
1435    1
1436    1
1437    1
1438    2
1439    1
1440    1
1441    1
1442    1
1443    1
1444    1
1445    1
1446    1
1447    1
1448    1
1449    1
1450    1
1451    1
1452    1
1453    1
1454    1
1455    1
1456    1
1457    1
1458    1
1459    1
Length: 1460, dtype: int64

In [64]:
df['Condition_consolid']=loop_two_columns(df['Condition1'], df['Condition2'])

In [66]:
df=df.drop(['Condition1', 'Condition2'], axis=1)

In [67]:
#df[['BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt','YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd']].head()

In [68]:
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [69]:
df['Age_building']=abs(df['YearBuilt']-df['YrSold'])

In [70]:
df['Age_building'].head()

0     5
1    31
2     7
3    91
4     8
Name: Age_building, dtype: int64

In [71]:
df['Remod_yr']=abs(df['YearRemodAdd']-df['YrSold'])

In [72]:
df['Remod_yr'].head()

0     5
1    31
2     6
3    36
4     8
Name: Remod_yr, dtype: int64

In [73]:
df=df.drop(['YearBuilt', 'YearRemodAdd', 'YrSold'], axis=1)

In [74]:
# MasVnrType: Masonry veneer type (how different is this from Exterior2nd?)    
# MasVnrArea: Masonry veneer area in square feet
#value_counts() does not display NaN values

df['MasVnrType'].value_counts()

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [75]:
df['MasVnrArea'].head()

0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
Name: MasVnrArea, dtype: float64

In [76]:
#For now I am planning to assign -1 to None category in MasVnrType and 1 for existing veneer type as it has come across as significant through
#researching real estate market especially in Ames, Iowa
df.loc[df['MasVnrType']=='BrkFace','MasVnrType'] = 1

In [77]:
df.loc[df['MasVnrType']=='Stone','MasVnrType'] = 1
df.loc[df['MasVnrType']=='BrkCmn','MasVnrType'] = 1
df.loc[df['MasVnrType']=='None','MasVnrType'] = -1
df['MasVnrType']=df['MasVnrType'].fillna(0)

In [78]:
df['MasVnrType'].value_counts()

-1    864
 1    588
 0      8
Name: MasVnrType, dtype: int64

In [79]:
df['MasVnrArea']=df['MasVnrArea'].fillna(0)

In [72]:
#BldgType	HouseStyle

In [80]:
df = pd.concat([df.drop('BldgType', axis=1), pd.get_dummies(df['BldgType'], prefix='Bldg')], axis=1)

In [81]:
df['HouseStyle'].value_counts()

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

In [82]:
#For now I am not going to include 'HouseStyle'
df=df.drop('HouseStyle', axis=1)

In [83]:
df['OverallQual'].value_counts()

5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: OverallQual, dtype: int64

In [84]:
df.loc[df['OverallQual']==4,'OverallQual'] = -1
df.loc[df['OverallQual']==3,'OverallQual'] = -1
df.loc[df['OverallQual']==2,'OverallQual'] = -1
df.loc[df['OverallQual']==1,'OverallQual'] = -1

In [85]:
df.loc[df['OverallQual']==5,'OverallQual'] = 1
df.loc[df['OverallQual']==6,'OverallQual'] = 2

df.loc[df['OverallQual']==7,'OverallQual'] = 2

df.loc[df['OverallQual']==8,'OverallQual'] = 2
df.loc[df['OverallQual']==9,'OverallQual'] = 2
df.loc[df['OverallQual']==10,'OverallQual'] = 2

In [86]:
df['OverallCond'].value_counts()

5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: OverallCond, dtype: int64

In [87]:
df.loc[df['OverallCond']==4,'OverallCond'] = -1
df.loc[df['OverallCond']==3,'OverallCond'] = -1
df.loc[df['OverallCond']==2,'OverallCond'] = -1
df.loc[df['OverallCond']==1,'OverallCond'] = -1

In [88]:
df.loc[df['OverallCond']==5,'OverallCond'] = 1
df.loc[df['OverallCond']==6,'OverallCond'] = 2
df.loc[df['OverallCond']==7,'OverallCond'] = 2
df.loc[df['OverallCond']==8,'OverallCond'] = 2
df.loc[df['OverallCond']==9,'OverallCond'] = 2
df.loc[df['OverallCond']==10,'OverallCond'] = 2

In [ ]:
'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd'

In [89]:
df['Exterior1st'].value_counts()

VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
Stone        2
BrkComm      2
CBlock       1
ImStucc      1
AsphShn      1
Name: Exterior1st, dtype: int64

In [90]:
df['Exterior2nd'].value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64

In [91]:
#Planning to drop 'Exterior1st' as planning to focus on 'Exterior2nd' especially on the type of material used on the exterior
df=df.drop('Exterior1st', axis=1)

In [92]:
df.loc[df['Exterior2nd']=='CmentBd','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='Wd Shng','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='Stucco','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='BrkFace','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='AsbShng','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='ImStucc','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='Brk Cmn','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='Stone','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='AsphShn','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='Other','Exterior2nd'] = 'O'
df.loc[df['Exterior2nd']=='CBlock','Exterior2nd'] = 'O'

In [93]:
df['Exterior2nd'].value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
O          196
Plywood    142
Name: Exterior2nd, dtype: int64

In [94]:
df.loc[df['Exterior2nd']=='Wd Sdng','Exterior2nd'] = 'W'
df.loc[df['Exterior2nd']=='Plywood','Exterior2nd'] = 'W'
df.loc[df['Exterior2nd']=='HdBoard','Exterior2nd'] = 'W'

In [95]:
df['Exterior2nd'].value_counts()

W          546
VinylSd    504
MetalSd    214
O          196
Name: Exterior2nd, dtype: int64

In [96]:
df = pd.concat([df.drop('Exterior2nd', axis=1), pd.get_dummies(df['Exterior2nd'], prefix='Ext')], axis=1)

In [ ]:
RoofStyle: Type of roof
    
RoofMatl: Roof material

In [97]:
df['RoofStyle'].value_counts()

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64

In [98]:
df['RoofMatl'].value_counts()

CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Roll          1
Membran       1
Metal         1
ClyTile       1
Name: RoofMatl, dtype: int64

In [99]:
#While researching I figured whether roof is in good condition or not mattered a lot than the style or material of the roof
#considering that I would like to think the roof material would matter and so not going to include roofstyle

df=df.drop('RoofStyle', axis=1)

In [100]:
df.loc[df['RoofMatl']=='Tar&Grv','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='WdShngl','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='WdShake','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='Roll','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='Membran','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='Metal','RoofMatl'] = 'R'
df.loc[df['RoofMatl']=='ClyTile','RoofMatl'] = 'R'

In [101]:
df['RoofMatl'].value_counts()

CompShg    1434
R            26
Name: RoofMatl, dtype: int64

In [102]:
df = pd.concat([df.drop('RoofMatl', axis=1), pd.get_dummies(df['RoofMatl'], prefix='Roof')], axis=1)

In [ ]:
# ExterQual: Exterior material quality  - research
    
ExterCond: Present condition of the material on the exterior (i feel like this feature covers it all compared to ExterQual)
    
Foundation: Type of foundation
    
BsmtQual: Height of the basement(have to encode this feature differently as this one is different from the following one)
    
# BsmtCond: General condition of the basement
    
# BsmtExposure: Walkout or garden level basement walls (it also includes NA for no basement and the same thing is captured by BsmtCond)
    
# BsmtFinType1: Quality of basement finished area
    
BsmtFinSF1: Type 1 finished square feet
    
# BsmtFinType2: Quality of second finished area (if present) - research
    
BsmtFinSF2: Type 2 finished square feet - (research BsmtFinSF1)
    

BsmtUnfSF: Unfinished square feet of basement area (should I encode this negatively to mention that it is unfinished?)
    
    
# TotalBsmtSF: Total square feet of basement area you can add type1, type2 and, unfinished and see if it equals the total square feet of basement but i feel like overall
#people really care about what the square footage of finished and unfinished basement areas
    
    
Re Finishing basementI believe that it matters, as customers tend to add the expense of finishing the basement when 
they are determining how much to offer for the home.
Although it is not supposed to be considered as living space, most people do.


Heating: Type of heating
    
HeatingQC: Heating quality and condition
    
CentralAir: Central air conditioning
    
Electrical: Electrical system
    
1stFlrSF: First Floor square feet
    
2ndFlrSF: Second floor square feet
    
LowQualFinSF: Low quality finished square feet (all floors) - check whether this provides a strong signal 
    
GrLivArea: Above grade (ground) living area square feet
    
BsmtFullBath: Basement full bathrooms
    
BsmtHalfBath: Basement half bathrooms
    
FullBath: Full bathrooms above grade
    
HalfBath: Half baths above grade
    
Bedroom: Number of bedrooms above basement level
    
Kitchen: Number of kitchens
    
KitchenQual: Kitchen quality
    
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms) - looks important 

Functional: Home functionality rating
    
# Fireplaces: Number of fireplaces - check
    
FireplaceQu: Fireplace quality - categorize into a few
    
GarageType: Garage location - check for signals - maybe categorize them under a few topics
    
# GarageYrBlt: Year garage was built 
    
# GarageFinish: Interior finish of the garage 

GarageCars: Size of garage in car capacity - check amongst this one and the next one - which feature is most important
GarageArea: Size of garage in square feet
    
# GarageQual: Garage quality

GarageCond: Garage condition

PavedDrive: Paved driveway

WoodDeckSF: Wood deck area in square feet 
OpenPorchSF: Open porch area in square feet 
EnclosedPorch: Enclosed porch area in square feet
3SsnPorch: Three season porch area in square feet 
ScreenPorch: Screen porch area in square feet

# PoolArea: Pool area in square feet

PoolQC: Pool quality

Fence: Fence quality - categorize into a few 

MiscFeature: Miscellaneous feature not covered in other categories - check for signal

MiscVal: $Value of miscellaneous feature - you can even decide to keep the features or categorize above certain threshold amount

MoSold: Month Sold:     
Why seasonality matters in housing market?  Once it gets nice where you live then list. Spring one review says. this gives
me an idea: instead of listing every month which amounts to 12 I could categorize under seasons: summer, winter, spring, fall
totally dependent on your location.    
    

YrSold: Year Sold - i think i can find age of the building-since the time it was constructed to the time it was sold
how can I include the remodeled date of the building? have to subtract the date it was remodeled from the date it was sold - in order to include the 
is it possible to encode difference within few years with a negative sign? 


SaleType: Type of sale


SaleCondition: Condition of sale

In [103]:
df['ExterCond'].value_counts()

TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64

In [104]:
#Planning to drop both 'ExterQual' and ExterCond' as 'OverallQual' covers similar idea. Also I have included both 'OverallQual' and 'OverallCond'

df=df.drop(['ExterQual', 'ExterCond'], axis=1)

In [105]:
# Deleting 'BsmtCond' as it turns out other features in Basement attract the buyers more and that not many care about the
# condition of basement
df['BsmtCond'].value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [106]:
df=df.drop('BsmtCond', axis=1)

In [107]:
df['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [108]:
df['BsmtQual'].describe()

count     1423
unique       4
top         TA
freq       649
Name: BsmtQual, dtype: object

In [109]:
#df.describe()

In [110]:
df['BsmtQual'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17       True
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1430    False
1431    False
1432    False
1433    False
1434    False
1435    False
1436    False
1437    False
1438    False
1439    False
1440    False
1441    False
1442    False
1443    False
1444    False
1445    False
1446    False
1447    False
1448    False
1449    False
1450    False
1451    False
1452    False
1453    False
1454    False
1455    False
1456    False
1457    False
1458    False
1459    False
Name: BsmtQual, Length: 1460, dtype: bool

In [111]:
df=df.fillna({'BsmtQual':0})

In [112]:
df['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
0      37
Fa     35
Name: BsmtQual, dtype: int64

In [113]:
df.loc[df['BsmtQual']=='TA','BsmtQual'] = 2
df.loc[df['BsmtQual']=='Gd','BsmtQual'] = 3
df.loc[df['BsmtQual']=='Ex','BsmtQual'] = 4
df.loc[df['BsmtQual']=='Fa','BsmtQual'] = 1

In [114]:
df['BsmtQual'].value_counts()

2    649
3    618
4    121
0     37
1     35
Name: BsmtQual, dtype: int64

In [115]:
df['Foundation'].value_counts()

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

In [116]:
df.loc[df['Foundation']=='BrkTil','Foundation'] = 'F'
df.loc[df['Foundation']=='Slab','Foundation'] = 'F'
df.loc[df['Foundation']=='Stone','Foundation'] = 'F'
df.loc[df['Foundation']=='Wood','Foundation'] = 'F'

In [117]:
df['Foundation'].value_counts()

PConc     647
CBlock    634
F         179
Name: Foundation, dtype: int64

In [118]:
df = pd.concat([df.drop('Foundation', axis=1), pd.get_dummies(df['Foundation'], prefix='F')], axis=1)

In [119]:
df['BsmtExposure'].value_counts()

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

In [120]:
#Not going to include basement exposure for now
df=df.drop('BsmtExposure', axis=1)

In [121]:
#It turns out basement area is not included in the primary living area of the house. Therefore I think how much of area in the basement could be used for living can be rather a lucrative attribute for many home buyers
#as the extra square footage can be seen as an added advantage
df['BsmtFinType1'].value_counts()

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64

In [122]:
# The idea is to convert the low quality attributes to -1 and No basement to 0 and the above average living area to 1
# First let us fill NA values with 0

df=df.fillna({'BsmtFinType1':0})

In [123]:
df['BsmtFinType1'].value_counts()

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
0       37
Name: BsmtFinType1, dtype: int64

In [124]:
df.loc[df['BsmtFinType1']=='GLQ','BsmtFinType1'] = 1
df.loc[df['BsmtFinType1']=='ALQ','BsmtFinType1'] = 1
df.loc[df['BsmtFinType1']=='Rec','BsmtFinType1'] = 1
df.loc[df['BsmtFinType1']=='Unf','BsmtFinType1'] = -1
df.loc[df['BsmtFinType1']=='BLQ','BsmtFinType1'] = -1
df.loc[df['BsmtFinType1']=='LwQ','BsmtFinType1'] = -1

In [125]:
df['BsmtFinType1'].value_counts()

 1    771
-1    652
 0     37
Name: BsmtFinType1, dtype: int64

In [126]:
#It is clear that even if many houses had two types of basements, the second one was left unfinished in most cases
#so it does not hurt to avoid this feature
df['BsmtFinType2'].value_counts()

Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64

In [127]:
df=df.drop('BsmtFinType2', axis=1)

In [128]:
# df['BsmtFinType1'], df['BsmtFinType2']

In [129]:
df['BsmtFinSF1'].head()

0    706
1    978
2    486
3    216
4    655
Name: BsmtFinSF1, dtype: int64

In [130]:
#Not going to include 'BsmtUnfSF' as it represents the unfinished square feet of basement area
#Instead going to include the TotalBsmtSF: Total square feet of basement area
df['BsmtUnfSF'].head()

0    150
1    284
2    434
3    540
4    490
Name: BsmtUnfSF, dtype: int64

In [131]:
df=df.drop('BsmtUnfSF', axis=1)

In [132]:
#df['BsmtFinSF2'].value_counts()

In [133]:
#Since the finished area is very less in the second basement it is not going to have an effect so avoiding the feature
df=df.drop('BsmtFinSF2', axis=1)

In [134]:
df['Heating'].value_counts()

GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64

In [135]:
len(df)

1460

In [136]:
#Planning to have only two categories under 'Heating': one is GasA and the rest as other


df.loc[df['Heating']=='GasW','Heating'] = 'Other'
df.loc[df['Heating']=='Grav','Heating'] = 'Other'
df.loc[df['Heating']=='Wall','Heating'] = 'Other'
df.loc[df['Heating']=='OthW','Heating'] = 'Other'
df.loc[df['Heating']=='Floor','Heating'] = 'Other'

In [137]:
df['Heating'].value_counts()

GasA     1428
Other      32
Name: Heating, dtype: int64

In [138]:
df = pd.concat([df.drop('Heating', axis=1), pd.get_dummies(df['Heating'], prefix='Heat')], axis=1)

In [139]:
df['HeatingQC'].value_counts()

Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64

In [140]:
df['CentralAir'].value_counts()

Y    1365
N      95
Name: CentralAir, dtype: int64

In [144]:
#If Central air conditioning is a Yes then replace it with 1 else replace with -1

df.loc[df['CentralAir']=='Y','CentralAir'] = 1

df.loc[df['CentralAir']=='N','CentralAir'] = -1

In [145]:
#There is only record for poor and so I added that to average quality (is it ok to do this). So I have assigned 1 to Average/Typical
#Fair and Poor. And 2 to Excellent and Good categories

df.loc[df['HeatingQC']=='TA','HeatingQC'] = 1
df.loc[df['HeatingQC']=='Fa','HeatingQC'] = 1
df.loc[df['HeatingQC']=='Po','HeatingQC'] = 1

df.loc[df['HeatingQC']=='Ex','HeatingQC'] = 2
df.loc[df['HeatingQC']=='Gd','HeatingQC'] = 2

In [147]:
df['HeatingQC'].value_counts()

2    982
1    478
Name: HeatingQC, dtype: int64

In [148]:
#Turns out electrical wiring usually is not the deal breaker
df['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [149]:
df.loc[df['Electrical']=='FuseA','Electrical'] = 'Non_standard'
df.loc[df['Electrical']=='FuseF','Electrical'] = 'Non_standard'
df.loc[df['Electrical']=='FuseP','Electrical'] = 'Non_standard'
df.loc[df['Electrical']=='Mix','Electrical'] = 'Non_standard'

In [150]:
df['Electrical'].value_counts()

SBrkr           1334
Non_standard     125
Name: Electrical, dtype: int64

In [151]:
df = pd.concat([df.drop('Electrical', axis=1), pd.get_dummies(df['Electrical'], prefix='Tesla')], axis=1)

In [152]:
df['1stFlrSF'].head()

0     856
1    1262
2     920
3     961
4    1145
Name: 1stFlrSF, dtype: int64

In [153]:
df['2ndFlrSF'].head()

0     854
1       0
2     866
3     756
4    1053
Name: 2ndFlrSF, dtype: int64

In [154]:
df['LowQualFinSF'].value_counts()

0      1434
80        3
360       2
528       1
53        1
120       1
144       1
156       1
205       1
232       1
234       1
371       1
572       1
390       1
392       1
397       1
420       1
473       1
479       1
481       1
513       1
514       1
515       1
384       1
Name: LowQualFinSF, dtype: int64

In [155]:
df['GrLivArea'].head()

0    1710
1    1262
2    1786
3    1717
4    2198
Name: GrLivArea, dtype: int64

In [156]:
df['BsmtFullBath'].value_counts()

0    856
1    588
2     15
3      1
Name: BsmtFullBath, dtype: int64

In [157]:
df['BsmtHalfBath'].value_counts()

0    1378
1      80
2       2
Name: BsmtHalfBath, dtype: int64

In [158]:
#Not going to include 'BsmtHalfBath'
df=df.drop('BsmtHalfBath', axis=1)

In [159]:
df['FullBath'].value_counts()

2    768
1    650
3     33
0      9
Name: FullBath, dtype: int64

In [160]:
df['HalfBath'].value_counts()

0    913
1    535
2     12
Name: HalfBath, dtype: int64

In [161]:
df['BedroomAbvGr'].value_counts()

3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: BedroomAbvGr, dtype: int64

In [162]:
df['KitchenAbvGr'].value_counts()

1    1392
2      65
3       2
0       1
Name: KitchenAbvGr, dtype: int64

In [163]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [164]:
df.loc[df['KitchenQual']=='Ex','KitchenQual'] = 2.5
df.loc[df['KitchenQual']=='Gd','KitchenQual'] = 2.5
df.loc[df['KitchenQual']=='TA','KitchenQual'] = 1.5
df.loc[df['KitchenQual']=='Fa','KitchenQual'] = 1.5

In [165]:
#Because this feature does not include bathrooms it is rather important as it represents the number of rooms in the living area square feet
df['TotRmsAbvGrd'].value_counts()

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
14      1
2       1
Name: TotRmsAbvGrd, dtype: int64

In [166]:
df['Functional'].value_counts()

Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64

In [167]:
df['GrLivArea'].head()

0    1710
1    1262
2    1786
3    1717
4    2198
Name: GrLivArea, dtype: int64

In [168]:
df.loc[df['Functional']=='Min2','Functional'] = -1
df.loc[df['Functional']=='Min1','Functional'] = -1
df.loc[df['Functional']=='Mod','Functional'] = -1
df.loc[df['Functional']=='Maj1','Functional'] = -2
df.loc[df['Functional']=='Maj2','Functional'] = -2
df.loc[df['Functional']=='Sev','Functional'] = -2
df.loc[df['Functional']=='Typ','Functional'] = 1

In [169]:
df['Functional'].value_counts()

 1    1360
-1      80
-2      20
Name: Functional, dtype: int64

In [170]:
df['Fireplaces'].value_counts()

0    690
1    650
2    115
3      5
Name: Fireplaces, dtype: int64

In [171]:
#Not going to include the fireplace for now as it is not a deal breaker
df['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [172]:
df=df.drop('FireplaceQu', axis=1)

In [ ]:
Functional: Home functionality rating
    
# Fireplaces: Number of fireplaces - check
    
FireplaceQu: Fireplace quality - categorize into a few
    
GarageType: Garage location - check for signals - maybe categorize them under a few topics
    
# GarageYrBlt: Year garage was built 
    
# GarageFinish: Interior finish of the garage 

GarageCars: Size of garage in car capacity - check amongst this one and the next one - which feature is most important
GarageArea: Size of garage in square feet
    
# GarageQual: Garage quality

GarageCond: Garage condition

# PavedDrive: Paved driveway

WoodDeckSF: Wood deck area in square feet 
OpenPorchSF: Open porch area in square feet 
EnclosedPorch: Enclosed porch area in square feet
3SsnPorch: Three season porch area in square feet 
ScreenPorch: Screen porch area in square feet

PoolArea: Pool area in square feet

# PoolQC: Pool quality

Fence: Fence quality - categorize into a few 

MiscFeature: Miscellaneous feature not covered in other categories - check for signal

MiscVal: $Value of miscellaneous feature - you can even decide to keep the features or categorize above certain threshold amount

MoSold: Month Sold:     
Why seasonality matters in housing market?  Once it gets nice where you live then list. Spring one review says. this gives
me an idea: instead of listing every month which amounts to 12 I could categorize under seasons: summer, winter, spring, fall
totally dependent on your location.    
    

YrSold: Year Sold - i think i can find age of the building-since the time it was constructed to the time it was sold
how can I include the remodeled date of the building? have to subtract the date it was remodeled from the date it was sold - in order to include the 
is it possible to encode difference within few years with a negative sign? 


SaleType: Type of sale


SaleCondition: Condition of sale

In [173]:
df['GarageType'].value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [174]:
# Because Ames, Iowa gets 36 inches of rain, on average, per year. The US average is 39 inches of rain per year. The idea is
# to understand how favorable would an attached garage be.

df.loc[df['GarageType']=='Attchd','GarageType'] = 1#assuming attached meaning it is like well-covered and pretty close to the building

df.loc[df['GarageType']=='Detchd','GarageType'] = -1

df.loc[df['GarageType']=='BuiltIn','GarageType'] = 1

df.loc[df['GarageType']=='Basment','GarageType'] = 1

df.loc[df['GarageType']=='CarPort','GarageType'] = -1#Carport might be favorable during summer but might not be a great
#addition during extreme weather and snow conditions during winter

df.loc[df['GarageType']=='2Types','GarageType'] = 2 #gotta add 2


df['GarageType']=df['GarageType'].fillna(0) #to fill the NaN values with 0

In [175]:
#Going to ignore the year garage was built


df=df.drop('GarageYrBlt', axis=1)

In [176]:
df['GarageFinish'].value_counts()

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

In [177]:
#Going to ignore 'GarageFinish' for now
df=df.drop('GarageFinish', axis=1)

In [178]:
#Going to ignore 'GarageQual' for now
df=df.drop('GarageQual', axis=1)

In [179]:
df['GarageCars'].value_counts()

2    824
1    369
3    181
0     81
4      5
Name: GarageCars, dtype: int64

In [180]:
df['GarageCond'].value_counts()

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

In [181]:
df.loc[df['GarageCond']=='TA','GarageCond'] = 1
df.loc[df['GarageCond']=='Fa','GarageCond'] = 1
df.loc[df['GarageCond']=='Gd','GarageCond'] = 1.5
df.loc[df['GarageCond']=='Ex','GarageCond'] = 1.5
df.loc[df['GarageCond']=='Po','GarageCond'] = -1

df['GarageCond']=df['GarageCond'].fillna(0) #to fill the NaN values with 0

In [182]:
df['GarageArea'].head()

0    548
1    460
2    608
3    642
4    836
Name: GarageArea, dtype: int64

In [183]:
df['PavedDrive'].value_counts()

Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64

In [184]:
#Going to avoid 'PavedDrive' for now
df=df.drop('PavedDrive', axis=1)

In [185]:
df['PoolArea'].value_counts()

0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64

In [186]:

df['PoolQC'].value_counts()

Gd    3
Fa    2
Ex    2
Name: PoolQC, dtype: int64

In [187]:
#Going to Ignore 'PoolQC' for now as it would not have been a deal breaker
df=df.drop('PoolQC', axis=1)

In [188]:
df['Fence'].value_counts()

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

In [189]:
df=df.fillna({'Fence':0})

In [190]:
df['Fence'].value_counts()

0        1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64

In [191]:
df.loc[df['Fence']=='GdPrv','Fence'] = 1
df.loc[df['Fence']=='GdWo','Fence'] = 1
df.loc[df['Fence']=='MnPrv','Fence'] = 0.5
df.loc[df['Fence']=='MnWw','Fence'] = 0.5

In [192]:
df['Fence'].value_counts()

0.0    1179
0.5     168
1.0     113
Name: Fence, dtype: int64

In [193]:
df['MiscFeature'].value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64

In [194]:
df=df.fillna({'MiscFeature':0})

In [195]:
df['MiscFeature'].value_counts()

0       1406
Shed      49
Gar2       2
Othr       2
TenC       1
Name: MiscFeature, dtype: int64

In [196]:
df.loc[df['MiscFeature']=='Shed','MiscFeature'] = 1
df.loc[df['MiscFeature']=='Othr','MiscFeature'] = 1
df.loc[df['MiscFeature']=='Gar2','MiscFeature'] = 1
df.loc[df['MiscFeature']=='TenC','MiscFeature'] = 1

In [197]:
df['MiscFeature'].value_counts()

0    1406
1      54
Name: MiscFeature, dtype: int64

In [198]:
df['MiscVal'].value_counts()

0        1408
400        11
500         8
700         5
450         4
2000        4
600         4
1200        2
480         2
1150        1
800         1
15500       1
620         1
3500        1
560         1
2500        1
1300        1
1400        1
350         1
8300        1
54          1
Name: MiscVal, dtype: int64

In [199]:
#Have to work on month sold
df['MoSold'].value_counts()

6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64

In [200]:
#Turns out time of selling is a big deal when it comes to selling houses. Although people in general tend to call out the months in which selling 
# peaks and months when selling follows a down trend. But I have planned to convert the months into a few categories based on seasons as it will
# yield fewer categories thereby avoiding a lot of 0s and 1s
#Considering the months of seasons on the US
# Summer, winter, Fall, Spring
# In terms of complete months, in most north temperate zone locations:

# Spring: March, April, May 3, 4, 5
# Summer: June, July, August 6, 7, 8
# Autumn: September, October, November 9, 10, 11
# Winter: December, January, February 12, 1, 2  
#Based on these the months when houses were sold can be gathered under 4 categories   

df.loc[(df['MoSold']==3) | (df['MoSold']==4) | (df['MoSold']==5),'MoSold'] = 'Spring'
#df.loc[df['SaleCondition']=='Family','SaleCondition'] = 'Special'

In [201]:
df.loc[(df['MoSold']==6) | (df['MoSold']==7) | (df['MoSold']==8),'MoSold'] = 'Summer'
df.loc[(df['MoSold']==9) | (df['MoSold']==10) | (df['MoSold']==11),'MoSold'] = 'Autumn'
df.loc[(df['MoSold']==12) | (df['MoSold']==1) | (df['MoSold']==2),'MoSold'] = 'Winter'

In [202]:
df['MoSold'].head(50)

0     Winter
1     Spring
2     Autumn
3     Winter
4     Winter
5     Autumn
6     Summer
7     Autumn
8     Spring
9     Winter
10    Winter
11    Summer
12    Autumn
13    Summer
14    Spring
15    Summer
16    Spring
17    Autumn
18    Summer
19    Spring
20    Autumn
21    Summer
22    Autumn
23    Summer
24    Spring
25    Summer
26    Spring
27    Spring
28    Winter
29    Spring
30    Summer
31    Summer
32    Winter
33    Spring
34    Summer
35    Autumn
36    Summer
37    Autumn
38    Winter
39    Summer
40    Winter
41    Summer
42    Winter
43    Summer
44    Spring
45    Winter
46    Summer
47    Summer
48    Summer
49    Winter
Name: MoSold, dtype: object

In [203]:
df = pd.concat([df.drop('MoSold', axis=1), pd.get_dummies(df['MoSold'], prefix='MoSold')], axis=1)

In [204]:
#Not going to include 'SaleType' for now - have to think
df['SaleType'].value_counts()

WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

In [205]:
df['SaleCondition'].value_counts()

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [206]:
df.loc[df['SaleCondition']=='Abnorml','SaleCondition'] = 'Abnormal'
df.loc[df['SaleCondition']=='Partial','SaleCondition'] = 'Partial'
df.loc[df['SaleCondition']=='Family','SaleCondition'] = 'Special'
df.loc[df['SaleCondition']=='Alloca','SaleCondition'] = 'Special'
df.loc[df['SaleCondition']=='AdjLand','SaleCondition'] = 'Special'
df.loc[df['SaleCondition']=='Normal','SaleCondition'] = 'Normal'

In [207]:
df['SaleCondition'].value_counts()

Normal      1198
Partial      125
Abnormal     101
Special       36
Name: SaleCondition, dtype: int64

In [208]:
df = pd.concat([df.drop('SaleCondition', axis=1), pd.get_dummies(df['SaleCondition'], prefix='Sale')], axis=1)

In [209]:

df.loc[df['Sale_Partial']==1,'Sale_Partial'] = -0.5

In [210]:
df.loc[df['Sale_Abnormal']==1,'Sale_Abnormal'] = -1.0

In [211]:
df['Sale_Normal'].unique()

array([1, 0], dtype=uint64)

In [212]:
df['Sale_Special'].unique()

array([0, 1], dtype=uint64)

In [213]:
df['SalePrice'].head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [214]:
df['Sale_Abnormal'].unique()

array([ 0., -1.])

In [215]:
df['Sale_Partial'].unique()

array([ 0. , -0.5])

In [216]:
df['Sale_Normal'].unique()

array([1, 0], dtype=uint64)

In [217]:
df['Sale_Special'].unique()

array([0, 1], dtype=uint64)

In [219]:
df=df.drop('Id', axis=1)

In [220]:
len(df.columns)

80

In [221]:
df[['BsmtQual','BsmtFinType1', 'BsmtFinSF1', 'TotalBsmtSF', 'HeatingQC', 'CentralAir','1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath']].head()

,BsmtQual,BsmtFinType1,BsmtFinSF1,TotalBsmtSF,HeatingQC,CentralAir,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath
0,3,1,706,856,2,1,856,854,0,1710,1
1,3,1,978,1262,2,1,1262,0,0,1262,0
2,3,1,486,920,2,1,920,866,0,1786,1
3,2,1,216,756,2,1,961,756,0,1717,1
4,3,1,655,1145,2,1,1145,1053,0,2198,1

In [222]:
df[['FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual','TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageType', 'GarageCars','GarageArea', 'GarageCond', 'WoodDeckSF', 'OpenPorchSF','EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'Fence']].head()

,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,GarageType,GarageCars,GarageArea,GarageCond,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,Fence
0,2,1,3,1,2.5,8,1,0,1,2,548,1.0,0,61,0,0,0,0,0
1,2,0,3,1,1.5,6,1,1,1,2,460,1.0,298,0,0,0,0,0,0
2,2,1,3,1,2.5,6,1,1,1,2,608,1.0,0,42,0,0,0,0,0
3,1,0,3,1,2.5,7,1,1,-1,3,642,1.0,0,35,272,0,0,0,0
4,2,1,4,1,2.5,9,1,1,1,3,836,1.0,192,84,0,0,0,0,0

In [223]:
#df[['MiscFeature', 'MiscVal', 'SaleType', 'SalePrice', 'A', 'RL', 'RM', 'I','Reg', 'Neighborhood_grouped', 'Grvl', 'Pave', 'Condition_consolid','Age_building', 'Remod_yr', 'Bldg_1Fam', 'Bldg_2fmCon', 'Bldg_Duplex',]].head()

In [224]:
#df[['Bldg_Twnhs', 'Bldg_TwnhsE', 'Ext_MetalSd', 'Ext_O', 'Ext_VinylSd','Ext_W', 'Roof_CompShg', 'Roof_R', 'F_CBlock', 'F_F', 'F_PConc','Heat_GasA', 'Heat_Other', ]].head()

In [225]:
#For now I am not going to include SaleType
df=df.drop('SaleType', axis=1)

In [227]:
# df.loc[:, df.isnull().any()]

In [ ]:
#Dealing with NaN values present in the columns

LotFrontage: add 0 to NaN values
MasVnrType: add 0 to NaN values (I have added 1 if type is present and -1 if not. So adding 0 to nan values to represent that this value is different from None type values)
MasVnrArea: add 0 to NaN values (The same rows have NaN values the reasoning applies to MasVnrArea as well)
GarageType: add 0 to NaN values (it literally means there are no garages) Also add 2 to '2types or 2type'. Roughly checked the garage area of '2types' garages and
it looks like the area is little bigger compared to that of other garage types. So assigning 2.
GarageCond:add 0 to NaN values (I checked whether the same rows that have null values for '2types' have
null values in GarageCond, but it is not the case. But looks like null values are due to no garage type)

In [228]:
y=df['SalePrice'].values

In [229]:
y

array([208500, 181500, 223500, ..., 266500, 142125, 147500])

In [230]:
df=df.drop('SalePrice', axis=1)

In [231]:
X=df.values

In [232]:
X

array([[60, 65.0, 8450, ..., 1, 0.0, 0],
       [20, 80.0, 9600, ..., 1, 0.0, 0],
       [60, 68.0, 11250, ..., 1, 0.0, 0],
       ...,
       [70, 66.0, 9042, ..., 1, 0.0, 0],
       [20, 68.0, 9717, ..., 1, 0.0, 0],
       [20, 75.0, 9937, ..., 1, 0.0, 0]], dtype=object)

In [233]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [237]:
from sklearn.linear_model import LinearRegression

In [240]:
lin_reg=LinearRegression()

import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [ ]:
Had a warning: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
I imported warnings and the next line above. The warning stopped because the second line filters warnings and ignores them

In [241]:
lin_reg_fitted=lin_reg.fit(X_train, y_train)

In [245]:
#lin_reg_fitted.predict(X_test)

In [243]:
lin_reg.score(X_test, y_test)

0.8296322157729619

In [244]:
from sklearn.ensemble import RandomForestRegressor
regr1 = RandomForestRegressor(random_state=0, n_estimators=100)

In [246]:
regr1.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [247]:
regr1.score(X_test, y_test)

0.8896853312391427

In [249]:
#XGBoost Regressor
import xgboost as xgb

In [ ]:
#dtrain = xgb.DMatrix(X_train)

In [ ]:
#dtest = xgb.DMatrix('demo/data/agaricus.txt.test')

In [ ]:
# # specify parameters via map
# param = {'max_depth':2, 'eta':1, 'silent':1, 'objective':'reg:linear' }
# num_round = 2
# bst = xgb.train(param, dtrain, num_round)
# # make prediction
# preds = bst.predict(dtest)

In [256]:
rgr_xgb = xgb.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75, colsample_bytree=1, max_depth=7)

In [258]:
rgr_xgb_fitted=rgr_xgb.fit(X_train, y_train)

In [260]:
rgr_xgb_predict=rgr_xgb_fitted.predict(X_test)

In [262]:
#Perhaps I can finetune the hyperparameters to improve the score. Although XGBRegressor's score is close, 
#RandomForestRegressor's score is better. But clearly these two regressors' performance is far better than the linear regression model

from sklearn.metrics import explained_variance_score
print(explained_variance_score(rgr_xgb_predict,y_test))

0.8667735839176877

In [264]:
# rgr_xgb.score(rgr_xgb_predict, y_test)

# was not able to use sklearn score to calculate the mse. received a ValueError: Input numpy.ndarray must be 2 dimensional

In [ ]:
Have to try this method and then why not an ensemble of models? should I try it? why not, I say? :)

xgdmat=xgb.DMatrix(X_train,y_train)
our_params={'eta':0.1,'seed':0,'subsample':0.8,'colsample_bytree':0.8,'objective':'reg:linear','max_depth':3,'min_child_weight':1}
final_gb=xgb.train(our_params,xgdmat)
tesdmat=xgb.DMatrix(X_test)
y_pred=final_gb.predict(tesdmat)
print(y_pred)